.form {
  display: inline-block;
  padding: 10px;

  border: 2px solid;
}
.label {
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
}

.btn {
  display: block;
}

.input {
  margin-left: 10px;
}
